@use "../abstracts" as var;

.container-narrow {
  max-width: min(78.5%, 1495px);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include var.breakpoint(649px) {
    max-width: 90%;
  }
}

#content {
  .left-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .dual-content {
    display: grid;
    grid-template-columns: 0.38fr 0.61fr;
    place-items: center;
    width: 100%;

    &:first-of-type {
      margin-bottom: 10.8rem;
    }

    @include var.breakpoint(1420px) {
      &:last-of-type .illustration {
        top: -10%;
      }
    }

    @include var.breakpoint(tablet) {
      grid-template-columns: 1fr;
    }

    @include var.breakpoint(mobile) {
      &:last-of-type .illustration {
        top: -80%;
      }
    }

    @include var.breakpoint(698px) {
      &:last-of-type .illustration {
        top: -70%;
      }
    }

    @include var.breakpoint(647px) {
      &:last-of-type .illustration {
        top: -79%;
      }
    }

    @include var.breakpoint(586px) {
      &:last-of-type .illustration {
        top: -65%;
      }
    }

    @include var.breakpoint(509px) {
      &:last-of-type .illustration {
        top: -55%;
      }
    }
    @include var.breakpoint(453px) {
      &:last-of-type .illustration {
        top: -40%;
      }
    }
    @include var.breakpoint(354px) {
      &:last-of-type .illustration {
        top: -30%;
      }
    }
  }

  .right-dual {
    background: var.$light-blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 4.6rem 7rem;
    position: relative;
    height: 100%;
    gap: 2.1rem;

    @include var.breakpoint(902px) {
      padding: 4.6rem 5rem;
    }

    @include var.breakpoint(444px) {
      padding-inline: 2rem;
    }
  }

  .illustration {
    position: absolute;
    right: 3%;
    top: -15%;

    @include var.breakpoint(1567px) {
      right: -10%;
    }

    @include var.breakpoint(tablet) {
      right: -8%;
    }

    @include var.breakpoint(mobile) {
      top: -108%;
      right: 0;
      left: 0;
      margin-inline: auto;
    }

    @include var.breakpoint(731px) {
      top: -32em;
    }

    @include var.breakpoint(683px) {
      top: -30em;
    }

    @include var.breakpoint(529px) {
      top: -28em;
    }

    @include var.breakpoint(480px) {
      top: -26em;
    }

    @include var.breakpoint(427px) {
      top: -23em;
    }

    @include var.breakpoint(379px) {
      top: -21em;
    }
  }

  h2 {
    color: var.$blue;
    @include var.fontSize(26, 700, 33);
    max-width: 80%;

    @include var.breakpoint(1420px) {
      max-width: 95%;
    }
  }

  ul {
    list-style: none;
    color: var.$blue;
    @include var.fontSize(20, 400);
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    margin-left: 4rem;

    @include var.breakpoint(1851px) {
      margin-left: 2rem;
    }
  }
}

p {
  @include var.fontSize(20, 400);
  color: var.$blue;
}

.proposons {
  margin-top: 7.9rem;
  h2 {
    color: var.$blue;
    @include var.fontSize(35, 700, 45);
    text-align: center;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include var.fontSize(25, 400, 30);
    color: var.$blue;
    margin-top: 0.5em;
    gap: 0.5em;
    text-align: center;
  }
}
