@use "../abstracts" as var;

.container {
  padding-block: 3.7rem 15.3rem;
  max-width: 95%;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include var.breakpoint(tablet) {
    grid-template-columns: 1fr;
  }
}

header {
  .left {
    border-bottom: 7px solid var.$red;
    width: 100%;
    height: 100%;
    position: relative;

    .label {
      position: absolute;
      top: 5.5%;
      left: 6%;
      width: 200px;
      height: 200px;
      margin: auto;

      @include var.breakpoint(688px) {
        top: -6%;
        left: -2%;
      }

      @include var.breakpoint(545px) {
        font-size: 1.6rem;
        width: 150px;
        height: 150px;
      }
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    @include var.breakpoint(tablet) {
      display: flex;
      justify-content: center;
      margin-inline: auto;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 3rem;
    background: var.$light-blue;
    height: 100%;
    padding-inline: 8.5rem;
    border-bottom: 7px solid var.$blue;
    padding-block: 3rem;

    a {
      color: black;
    }

    @include var.breakpoint(tablet) {
      padding-block: 8.4rem;
      align-items: center;
    }

    @include var.breakpoint(mobile) {
      padding-inline: 2.5rem;
    }

    img {
      width: 168.37px;
      height: 170.34px;
    }
  }

  h1 {
    @include var.fontSize(25, 700, 40);

    @include var.breakpoint(tablet) {
      text-align: center;
    }

    span {
      color: var.$red;
    }
  }

  p {
    @include var.fontSize(25, 400, 28);
    color: var.$blue;
    display: flow-root;
    max-width: 70%;

    @include var.breakpoint(1569px) {
      max-width: 80%;
    }

    @include var.breakpoint(1495px) {
      max-width: 100%;
    }

    @include var.breakpoint(tablet) {
      text-align: center;
    }
  }
}

.contact-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  list-style: none;

  h4 {
    @include var.fontSize(25, 400, 28);
    color: var.$blue;
    margin-bottom: 0.2em;
    text-transform: uppercase;
  }

  a {
    font-size: 2.2rem;
    text-decoration: none;
  }
}
